body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background-color: #ffffff;
}

h1 {
    color: #000000;
    width: 450px;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #a0a0a0;
    border-radius: 5px;
    margin-left: 220px;
}

.form-container {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-left: 220px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-left: 220px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #000000;
    outline: none;
}

input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #5f5f5f;
}

.mensaje {
    margin: 20px 0;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.exito {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.botones {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 220px;
}

.volver-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 136px;
    height: 42px;
    margin-left: 30px;
    text-align: center;
}

.volver-btn:hover {
    background-color: #5f5f5f;
}